In [14]:
# Reading in excel spreadsheet

import pandas as pd
import os 

use_data = 'ETO use.xlsx'

use_df = pd.read_excel(use_data, sheet_name='eto_use_alt')
use_df

         Date                            Account
0  2022-07-06                              CL005
1  2022-12-19                              CL001
2  2023-02-14                              CL002
3  2023-03-30                              CL007
4  2023-04-13                              CL007
5  2023-05-16                              CL008
6  2023-05-30                              CL008
7  2023-06-08                              CL008
8  2023-06-23                              CL007
9  2023-08-22                       CL007, CL002
10 2023-08-24                       CL007, CL002
11 2023-08-28                       CL007, CL002
12 2023-09-25                       CL007, CL002
13 2023-09-28                              CL007
14 2023-10-10         CL003, CL002, CL001, CL007
15 2023-10-26         CL003, CL002, CL001, CL007
16 2023-11-07                       CL002, CL007
17 2023-11-14  CL003, CL001, CL007, CL002, CL006
18 2024-01-02         CL003, CL006, CL001, CL002
19 2024-01-04         CL003, CL001, CL006, CL002
20 2024-01-18                CL001, CL004, CL006
21 2024-02-06                CL010, CL001, CL000
22 2024-02-22                       CL010, CL001
23 2024-03-04                              CL007
24 2024-03-08                CL010, CL001, CL013

In [13]:
CL_data = 'ETO use.xlsx'

CL_df = pd.read_excel(use_data, sheet_name='CL Codes')
CL_df

,CL_code,PI_full,PI,Group,Project
0,CL000,cath_lab,official,official,Cath Lab Official Use
1,MRE541,"Austin Johnson, M.D.",Johnson,emergency medicine,EM Research Johnson
2,CL001,"Austin Johnson, M.D.",Johnson,emergency medicine,EM Research Johnson
3,CL002,Guillaume Hoareau/Scott Youngquist,Hoareau/Youngquist,emergency medicine,Nebulized Nitroglycerin to Improve Blood Flow ...
4,CL003,Helen Palatinus,Palatinus,emergency medicine,Intramuscular Epinephrine Pharmacokinetics and...
5,CL004,Natalie Silverton,Silverton,emergency medicine,NaN
6,CL005,Matthew Alexander,Alexander,radiology,MRI-GUIDED FOCUSED ULTRASOUND
7,CL006,Allison Payne,Payne,radiology,Payne Professional Funds
8,CL007,Lubdha Shah/Viola Rieke,Shah/Rieke,radiology,Focused US Neuromodulation: Swine Mode;
9,CL008,Lubdha Shah/Viola Rieke,Shah/Rieke,radiology,Treatment for Cervical Spine Pain/ Goat MRI Gu...
10,CL009,"Ravi Ranjan/ Ed DiBella, Ph.D.",Ranjan,cardiology,Myocardial Substrate Driven Mechanistic Insigh...
11,CL010,Natalie Silverton,Silverton,emergency medicine,Optimizing Hemorrhagic Shock Resuscitation: No...
12,CL011,Guillaume Hoareau,Hoareau,emergency medicine,Improving mitochondrial function to mitigate i...
13,CL012,Guillaume Hoareau,Hoareau,emergency medicine,The mechanisms of GJA1 protection after resusc...
14,CL013,"Austin Johnson, M.D.",Johnson,emergency medicine,Physiologic signatures for endovascular interv...

In [3]:
# creating PI + account identifier, where applicable

pi_account = []
for i, row in use_df.iterrows():
    if use_df['Account'][i] != 'unknown':
        pi_account.append(f"{use_df['PI'][i]}_{use_df['Account'][i]}")
    elif use_df['Account'][i] == 'unknown':
        pi_account.append(f"{use_df['PI'][i]}")
use_df['PI_Account'] = pi_account
use_df

,Date,PI,Project,Account,Fraction,Charge,PI_Account
0,2022-07-06,Alexander,Bridge,CL005,1.000000,40.000000,Alexander_CL005
1,2022-12-19,Johnson,unknown,CL001,1.000000,40.000000,Johnson_CL001
2,2023-02-14,Hoareau,unknown,CL002,1.000000,40.000000,Hoareau_CL002
3,2023-03-30,Shah/Rieke,UH3,CL007,1.000000,40.000000,Shah/Rieke_CL007
4,2023-04-13,Shah/Rieke,UH3,CL007,1.000000,40.000000,Shah/Rieke_CL007
5,2023-05-16,Shah/Rieke,U18,CL008,1.000000,40.000000,Shah/Rieke_CL008
6,2023-05-30,Shah/Rieke,U18,CL008,1.000000,40.000000,Shah/Rieke_CL008
7,2023-06-08,Shah/Rieke,U18,CL008,1.000000,40.000000,Shah/Rieke_CL008
8,2023-06-23,Shah/Rieke,UH3,CL007,1.000000,40.000000,Shah/Rieke_CL007
9,2023-08-22,Shah/Rieke,UH3,CL007,0.500000,20.000000,Shah/Rieke_CL007
10,2023-08-22,Hoareau,unknown,CL002,0.500000,20.000000,Hoareau_CL002
11,2023-08-24,Shah/Rieke,UH3,CL007,0.500000,20.000000,Shah/Rieke_CL007
12,2023-08-24,Hoareau,unknown,CL002,0.500000,20.000000,Hoareau_CL002
13,2023-08-28,Shah/Rieke,UH3,CL007,0.500000,20.000000,Shah/Rieke_CL007
14,2023-08-28,Hoareau,unknown,CL002,0.500000,20.000000,Hoareau_CL002
15,2023-09-25,Shah/Rieke,UH3,CL007,0.500000,20.000000,Shah/Rieke_CL007
16,2023-09-25,Hoareau,unknown,CL002,0.500000,20.000000,Hoareau_CL002
17,2023-09-28,Shah/Rieke,UH3,CL007,1.000000,40.000000,Shah/Rieke_CL007
18,2023-10-10,Palatinus,unknown,CL003,0.250000,10.000000,Palatinus_CL003
19,2023-10-10,Hoareau,unknown,CL002,0.250000,10.000000,Hoareau_CL002
20,2023-10-10,Johnson,unknown,CL001,0.250000,10.000000,Johnson_CL001
21,2023-10-10,Shah/Rieke,UH3,CL007,0.250000,10.000000,Shah/Rieke_CL007
22,2023-10-26,Palatinus,unknown,CL003,0.250000,10.000000,Palatinus_CL003
23,2023-10-26,Hoareau,unknown,CL002,0.250000,10.000000,Hoareau_CL002
24,2023-10-26,Johnson,unknown,CL001,0.250000,10.000000,Johnson_CL001
25,2023-10-26,Shah/Rieke,UH3,CL007,0.250000,10.000000,Shah/Rieke_CL007
26,2023-11-07,Youngquist,unknown,CL002,0.333333,13.333333,Youngquist_CL002
27,2023-11-07,Hoareau,unknown,CL002,0.333333,13.333333,Hoareau_CL002
28,2023-11-07,Shah/Rieke,UH3,CL007,0.333333,13.333333,Shah/Rieke_CL007
29,2023-11-14,Palatinus,unknown,CL003,0.200000,8.000000,Palatinus_CL003
30,2023-11-14,Johnson,unknown,CL001,0.200000,8.000000,Johnson_CL001
31,2023-11-14,Shah/Rieke,UH3,CL007,0.200000,8.000000,Shah/Rieke_CL007
32,2023-11-14,Youngquist,unknown,CL002,0.200000,8.000000,Youngquist_CL002
33,2023-11-14,Payne,unknown,CL006,0.200000,8.000000,Payne_CL006
34,2024-01-02,Palatinus,NaN,CL003,0.250000,10.000000,Palatinus_CL003
35,2024-01-02,Payne,NaN,CL006,0.250000,10.000000,Payne_CL006
36,2024-01-02,Johnson,NaN,CL001,0.250000,10.000000,Johnson_CL001
37,2024-01-02,Youngquist,NaN,CL002,0.250000,10.000000,Youngquist_CL002
38,2024-01-04,Palatinus,NaN,CL003,0.250000,10.000000,Palatinus_CL003
39,2024-01-04,Johnson,NaN,CL001,0.250000,10.000000,Johnson_CL001
40,2024-01-04,Payne,NaN,CL006,0.250000,10.000000,Payne_CL006
41,2024-01-04,Youngquist,NaN,CL002,0.250000,10.000000,Youngquist_CL002
42,2024-01-18,Johnson,CL001,CL001,0.333333,13.333333,Johnson_CL001
43,2024-01-18,Silverton,NaN,CL004,0.333333,13.333333,Silverton_CL004
44,2024-01-18,Payne,NaN,CL006,0.333333,13.333333,Payne_CL006
45,2024-02-06,Silverton,NaN,CL010,0.333333,13.333333,Silverton_CL010
46,2024-02-06,Johnson,NaN,CL001,0.333333,13.333333,Johnson_CL001
47,2024-02-06,official,NaN,CL000,0.333333,13.333333,official_CL000
48,2024-02-22,Silverton,NaN,CL010,0.500000,20.000000,Silverton_CL010
49,2024-02-22,Johnson,NaN,CL001,0.500000,20.000000,Johnson_CL001
50,2024-03-04,Shah/Rieke,NaN,CL007,1.000000,40.000000,Shah/Rieke_CL007
51,2024-03-08,Silverton/Hoareau,NaN,CL010,0.333333,13.333333,Silverton/Hoareau_CL010
52,2024-03-08,Johnson,NaN,CL001,0.333333,13.333333,Johnson_CL001
53,2024-03-08,Johnson,NaN,CL013,0.333333,13.333333,Johnson_CL013

In [5]:
# create subset df for period of interest

#### Date range of interest must be updated ####
date_min = '2024-04-01'
date_max = '2024-04-30'

period_of_interest_df = use_df[(use_df['Date'] >= date_min) & (use_df['Date'] <= date_max)]
period_of_interest_df

Empty DataFrame
Columns: [Date, PI, Project, Account, Fraction, Charge, PI_Account]
Index: []

In [6]:
# creating new dataframe to total uses and charge

charges_df = pd.DataFrame()
charges_df['Account'] = use_df['Account'].unique()
charges_df['PI'] = 0
charges_df['Number Uses'] = 0
charges_df['Total ($)'] = 0

charges_df = charges_df.sort_values(by='Account')


PI = []

for i, row in CL_df.iterrows():
    for j, event in charges_df.iterrows():
        if CL_df['CL_code'][i] == charges_df['Account'][j]:
            PI.append(CL_df['PI'][i])

charges_df['PI'] = PI
charges_df = charges_df.reset_index().drop(columns='index')
charges_df

   Account                  PI  Number Uses  Total ($)
0    CL000            official            0          0
1    CL001             Johnson            0          0
2    CL002  Hoareau/Youngquist            0          0
3    CL003           Palatinus            0          0
4    CL004           Silverton            0          0
5    CL005           Alexander            0          0
6    CL006               Payne            0          0
7    CL007          Shah/Rieke            0          0
8    CL008          Shah/Rieke            0          0
9    CL010           Silverton            0          0
10   CL013             Johnson            0          0

In [7]:
# filling in charges df for period of interest

for i, row in charges_df.iterrows():
    owed = []
    num_uses = []
    
    for j, rows in period_of_interest_df.iterrows():
        if charges_df['Account'][i] == period_of_interest_df['Account'][j]:
            owed.append(period_of_interest_df['Charge'][j])
            num_uses.append(period_of_interest_df['Fraction'][j])

        charges_df['Number Uses'][i] = sum(num_uses)
        charges_df['Total ($)'][i] = sum(owed)

charges_df = charges_df.round(2)

charges_df

   Account                  PI  Number Uses  Total ($)
0    CL000            official            0          0
1    CL001             Johnson            0          0
2    CL002  Hoareau/Youngquist            0          0
3    CL003           Palatinus            0          0
4    CL004           Silverton            0          0
5    CL005           Alexander            0          0
6    CL006               Payne            0          0
7    CL007          Shah/Rieke            0          0
8    CL008          Shah/Rieke            0          0
9    CL010           Silverton            0          0
10   CL013             Johnson            0          0

In [8]:
# drop official use row

charges_df = charges_df[charges_df['Account'] != 'CL000']

# only keep rows with uses/charges
charges_df = charges_df[charges_df['Number Uses'] != 0]

charges_df

Empty DataFrame
Columns: [Account, PI, Number Uses, Total ($)]
Index: []

In [11]:
### File save path needs to be updated for each invoice ###

# Create Directory 
directory = "2024.04 Invoicing"
  
# Parent Directory path 
parent_dir = "../eto_billing"
  
# Path 
path = os.path.join(parent_dir, directory) 

os.mkdir(path) 

charges_df.to_excel('2024.04 Invoicing/ethylene_oxide_invoice_April_2024.xlsx', index=False)